<section class="feedback-section" id="feedbacks">
  <div class="container feedback-container">
    <h2 class="feedback-title">Customer Feedbacks</h2>
    <p class="feedback-parag">See what our readers are saying about us!</p>
    <div class="swiper feedback-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide swiper-slide-feedbacks">
          <p class="feedback-text">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="author">
            <img
              src="./img/feedbacks/jane-doe.webp"
              srcset="
                ./img/feedbacks/jane-doe.webp    1x,
                ./img/feedbacks/jane-doe@2x.webp 2x
              "
              alt="Jane Doe"
            />
            <div>
              <h3>Jane Doe</h3>
              <p>Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide swiper-slide-feedbacks">
          <p class="feedback-text">
            Customer service was super helpful, and my order arrived earlier
            than expected. Highly recommend!
          </p>
          <div class="author">
            <img
              src="./img/feedbacks/john-smith.webp"
              srcset="
                ./img/feedbacks/john-smith.webp    1x,
                ./img/feedbacks/john-smith@2x.webp 2x
              "
              alt="John Smith"
            />
            <div>
              <h3>John Smith</h3>
              <p>Editor, BookMag</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide swiper-slide-feedbacks">
          <p class="feedback-text">
            Love the curated picks and clear descriptions. Makes it easy to find
            my next favorite book. Highly recommend!
          </p>
          <div class="author">
            <img
              src="./img/feedbacks/emily-johnson.webp"
              srcset="
                ./img/feedbacks/emily-johnson.webp    1x,
                ./img/feedbacks/emily-johnson@2x.webp 2x
              "
              alt="Jane Doe"
            />
            <div>
              <h3>Emily Johnson</h3>
              <p>Author, Novelist</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide swiper-slide-feedbacks">
          <p class="feedback-text">
            Quick and easy checkout, smooth delivery, and great packaging. I’ll
            definitely be ordering again!
          </p>
          <div class="author">
            <img
              src="./img/feedbacks/jane-doe.webp"
              srcset="
                ./img/feedbacks/jane-doe.webp    1x,
                ./img/feedbacks/jane-doe@2x.webp 2x
              "
              alt="Victoria Romashenko"
            />
            <div>
              <h3>Victoria Romashenko</h3>
              <p>Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide swiper-slide-feedbacks">
          <p class="feedback-text">
            Beautifully curated book selection and a super friendly, responsive
            support team. Absolutely love it!
          </p>
          <div class="author">
            <img
              src="./img/feedbacks/ihor-trachuk.webp"
              srcset="
                ./img/feedbacks/ihor-trachuk.webp    1x,
                ./img/feedbacks/ihor-trachuk@2x.webp 2x
              "
              alt="Ihor Trachuk"
            />
            <div>
              <h3>Ihor Trachuk</h3>
              <p>Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide swiper-slide-feedbacks">
          <p class="feedback-text">
            Easy to browse through titles, great prices on everything, and
            surprisingly fast shipping. Couldn’t ask for more!
          </p>
          <div class="author">
            <img
              src="./img/feedbacks/john-wax.webp"
              srcset="
                ./img/feedbacks/john-wax.webp    1x,
                ./img/feedbacks/john-wax@2x.webp 2x
              "
              alt="Jane Doe"
            />
            <div>
              <h3>John Wax</h3>
              <p>Editor, BookMag</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="pagination-container">
        <div class="nav-buttons">
          <button class="swiper-button-prev" aria-label="Previous slide">
            <svg class="icon icon-prev" aria-hidden="true">
              <use href="/img/sprite.svg#icon-arrow-back"></use>
            </svg>
          </button>
          <button class="swiper-button-next" aria-label="Next slide">
            <svg class="icon icon-next" aria-hidden="true">
              <use href="/img/sprite.svg#icon-arrow-next"></use>
            </svg>
          </button>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
