<header class="header" id="header">
  <div class="container header-container">
    <div class="logo">
      <a href="#">
        <svg width="84" height="36">
          <use href="/img/sprite.svg#icon-booksy-title"></use>
        </svg>
      </a>
      <button type="button" class="burger-menu">
        <svg class="burger-icon" width="18" height="18">
          <use href="/img/sprite.svg#icon-align-left"></use>
        </svg>
      </button>
    </div>

    <ul class="header-list">
      <li class="header-list-style"><a href="#hero" data-id="home">Home</a></li>
      <li class="header-list-style">
        <a href="#books" data-id="books">Books</a>
      </li>
      <li class="header-list-style">
        <a href="#feedbacks" data-id="feedbacks">Feedbacks</a>
      </li>
      <li class="header-list-style">
        <a href="#events" data-id="events">Events</a>
      </li>
      <li class="header-list-style">
        <a href="#location" data-id="location">Location</a>
      </li>
    </ul>
  </div>

  <div class="navbar-overlay">
    <div class="container">
      <div class="navbar-top">
        <a href="/index.html" class="logo-icon">
          <svg class="heder-icon" width="84" height="36">
            <use href="/img/sprite.svg#icon-booksy-title"></use>
          </svg>
        </a>
        <button type="button" class="close-navbar-btn">
          <svg class="close-btn-icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="navbar">
        <ul class="navbar-list">
          <li class="navbar-list-style">
            <a href="#hero" data-id="home">Home</a>
          </li>
          <li class="navbar-list-style">
            <a href="#books" data-id="books">Books</a>
          </li>
          <li class="navbar-list-style">
            <a href="#feedbacks" data-id="feedbacks">Feedbacks</a>
          </li>
          <li class="navbar-list-style">
            <a href="#events" data-id="events">Events</a>
          </li>
          <li class="navbar-list-style">
            <a href="#location" data-id="location">Location</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
