<section class="hero-section" id="hero">
  <div class="container">
    <div class="swiper hero-swiper">
      <ul class="swiper-wrapper hero-wrapper">
        <!-- Слайд 1 -->
        <li class="swiper-slide hero-swiper-slide">
          <picture>
            <source
              srcset="
                /img/hero-img/banner-1.webp    1x,
                /img/hero-img/banner-1@2x.webp 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/hero-img/banner.tablet-1.webp    1x,
                /img/hero-img/banner.tablet-1@2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="/img/hero-img/banner.mobile-1.webp"
              srcset="/img/hero-img/banner.mobile-1@2x.webp 2x"
              alt="Banner 1"
              loading="lazy"
            />
          </picture>
          <div class="slide-content">
            <h2 class="slide-title">
              Get 10% off <span class="break">your first order</span>
            </h2>
            <a class="slide-btn" href="#books">Shop Now!</a>
          </div>
        </li>
        <!-- Слайд 2 -->
        <li class="swiper-slide hero-swiper-slide">
          <picture>
            <source
              srcset="
                /img/hero-img/baner-2.webp    1x,
                /img/hero-img/baner-2@2x.webp 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/hero-img/banner.tablet-2.webp    1x,
                /img/hero-img/banner.tablet-2@2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="/img/hero-img/banner.mobile-2.webp"
              srcset="/img/hero-img/banner.mobile-2@2x.webp 2x"
              alt="Banner 1"
              loading="lazy"
            />
          </picture>
          <div class="slide-content">
            <h2 class="slide-title">
              Save 15% on <span class="break">some books</span>
            </h2>
            <a class="slide-btn" href="#books">Shop Now!</a>
          </div>
        </li>
        <!-- Слайд 3 -->
        <li class="swiper-slide hero-swiper-slide">
          <picture>
            <source
              srcset="
                /img/hero-img/baner-3.webp    1x,
                /img/hero-img/baner-3@2x.webp 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/hero-img/banner.tablet-3.webp    1x,
                /img/hero-img/banner.tablet-3@2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="/img/hero-img/banner.mobile-3.webp"
              srcset="/img/hero-img/banner.mobile-3@2x.webp 2x"
              alt="Banner 1"
              loading="lazy"
            />
          </picture>
          <div class="slide-content">
            <h2 class="slide-title">
              Summer Sale! <span class="break">Up to -40% discounts</span>
            </h2>
            <a class="slide-btn" href="#books">Shop Now!</a>
          </div>
        </li>
        <!-- Слайд 4 -->
        <li class="swiper-slide hero-swiper-slide">
          <picture>
            <source
              srcset="
                /img/hero-img/baner-4.webp    1x,
                /img/hero-img/baner-4@2x.webp 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/hero-img/banner.tablet-4.webp    1x,
                /img/hero-img/banner.tablet-4@2x.webp 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="/img/hero-img/banner.mobile-4.webp"
              srcset="/img/hero-img/banner.mobile-4@2x.webp 2x"
              alt="Banner 1"
              loading="lazy"
            />
          </picture>
          <div class="slide-content">
            <h2 class="slide-title">
              Last chance to buy our
              <span class="break">spring bestsellers</span>
            </h2>
            <a class="slide-btn" href="#books">Shop Now!</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- Заголовок -->
    <div class="title-nav-container">
      <h1 class="hero-title">
        Discover Your Next Great <span class="break-title">Read Today!</span>
      </h1>
      <div class="nav-button-container">
        <div class="hero-swiper-button-prev">
          <svg width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </div>
        <div class="hero-swiper-button-next">
          <svg width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
