<section class="location-section" id="location">
  <div class="container location-container">
    <div class="location-intro">
      <p class="location-label">Location</p>
      <h2 class="location-title">How to find us</h2>
      <p class="location-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
    </div>

    <div class="location-contacts">
      <ul class="location-contacts-list">
        <li class="location-contacts-item">
          <svg width="24" height="24" class="location-contacts-icon">
            <use href="/src/img/icons-location.svg#email"></use>
          </svg>
          <div class="location-contacts-details">
            <p class="location-list-item">Email</p>
            <a class="location-details" href="mailto:hello@booksy.com"
              >hello@booksy.com</a
            >
          </div>
        </li>
        <li class="location-contacts-item">
          <svg width="24" height="24" class="location-contacts-icon">
            <use href="/src/img/icons-location.svg#phone"></use>
          </svg>
          <div class="location-contacts-details">
            <p class="location-list-item">Phone</p>
            <a class="location-details" href="tel:+61(241)304-3012"
              >+61 (241) 304-3012</a
            >
          </div>
        </li>
        <li class="location-contacts-item">
          <svg width="24" height="24" class="location-contacts-icon">
            <use href="/src/img/icons-location.svg#location"></use>
          </svg>
          <div class="location-contacts-details">
            <p class="location-list-item">Address</p>
            <a
              class="location-details"
              href="https://www.google.com/maps/search/123+Books+St,+Sydney+NSW+2000+AU/@-33.4004626,151.3955195,9z"
              target="_blank"
            >
              123 Books St, Sydney NSW 2000 AU
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="location-map-container">
      <iframe
        class="location-map"
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1656.3271251138501!2d151.20612224638646!3d-33.872800366359975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e0!3m2!1suk!2sua!4v1751398008443!5m2!1suk!2sua"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
