<div class="modal-overlay register-modal">
  <div class="modal-registr">
    <button type="button" class="register-modal-close">
      <svg class="register-icon-close" width="14" height="14">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="register-title">Register</h2>
    <h3 class="modal-event-title">Cozy Book Club — “The Midnight Library”</h3>
    <form class="register-form" autocomplete="on">
      <label class="register-label">
        <span class="span-registr-text">Name*</span>
        <input
          type="text"
          name="name"
          placeholder="Ann"
          class="register-name-input"
          autofocus
        />
        <span class="error-notification">Error text</span>
      </label>
      <label class="register-label">
        <span class="span-registr-text">Email*</span>
        <input
          type="email"
          name="email"
          class="register-email-input"
          placeholder="hello@booksy.com"
        />
        <span class="error-notification">Error text</span>
      </label>
      <label class="register-label">
        <span class="span-registr-text">Message</span>
        <textarea
          name="message"
          rows="8"
          class="register-message-textarea"
          placeholder="Type your message..."
        ></textarea>
        <span class="error-notification">Error text</span>
      </label>
      <button class="register-button">Register</button>
    </form>
  </div>
</div>
